{% extends 'films/layout.html' %}

{% block title %}
    Добавление информации о фильмах
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Форма для добавления информации о фильмах</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.description }}
            </div>
            <div class="mb-3">
                {{ form.feedback }}
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        <p> {{ error }} </p>
    </div>
{% endblock %}